/*Scroll top button*/
	#toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  fill: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-primary);
  border-radius: 100px;
 	padding: 10px 14px;
  border: none;
  cursor: pointer;
	z-index:999;
}

.arrow-up-icon {
  font-size: 20px;
  vertical-align: revert;
	margin-bottom: 3px;
}
	#toTop:hover {
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-primary);
}	
